.Image{
  padding-top: 20px;
  margin-left: 15px;
  max-width: 150px;
  max-height: 300px;
  min-width: 150px;
  min-height: 250px;

}

.vertical-center {
  min-height: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin-right: 20px;
  text-align: center;
  font-family: arial;
  background-color: white;
  margin-bottom: 15px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.cart .addtocart{
  visibility: hidden;
}
.cart:hover .addtocart {
  visibility: visible;
}